<mat-toolbar color="primary">

    <button (click)="menubtnClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span>Admin</span>
    <span class="example-spacer"></span>

    <div class="flex-container">
        <ul>
            <li>

                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with settings icon">
                    <mat-icon>settings</mat-icon>
                </button>
            </li>

            <li>

                <button mat-icon-button class="example-icon" aria-label="Example icon-button with help icon">
                    <mat-icon>help</mat-icon>
                </button>
            </li>

            <li>

                <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with person_outlined icon">
                    <mat-icon>person_outlined</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item><mat-icon>logout</mat-icon> Log out</button>
                    
                  </mat-menu>

                
            </li>



        </ul>

    </div>

</mat-toolbar>