
<!-- here selectors are used to set, display the  content on  the selctors html page, here this page will display first   -->



<!-- header  -->

<app-header  (btnClick)="toggle()"> </app-header>






<mat-drawer-container class="example-container">

    <mat-drawer mode="side" [opened]="sidebarOpened">

        <!-- sidebar  -->
        <app-sidebar></app-sidebar>



    </mat-drawer>






    <mat-drawer-content>



        <!-- dash board -->
        <!-- <app-dashboard> </app-dashboard> -->

        <!-- it is used to redirect the page when we user click first we have to set path and then set router outlet , 
        we have to display in Dashboard -->
        <router-outlet></router-outlet>




    </mat-drawer-content>



</mat-drawer-container>



<mat-divider></mat-divider>
<!-- footer  -->

<app-footer> </app-footer>