<div>
    <div class="profile">
        <img src="https://logodix.com/logo/1707081.png" alt="no image">
        <h1>Admin</h1>
        <h2>admin123@gmail.com</h2>
    </div>

    <mat-divider></mat-divider>

    <h2>Pages</h2>

    <div class="pages">
        <a routerLink="">Dashboard</a> 
        <a routerLink="employees">Employee</a>
        <a routerLink="gallery">Gallery</a>
    </div>


    <mat-divider></mat-divider>

    <h2>Tools</h2>

    <div class="pages">
        <a href=""><mat-icon>contacts</mat-icon>Contact</a>
        <a href=""><mat-icon>leaderboard</mat-icon>Lead</a>
    </div>


</div>